
                   
// Standard extensions get all permissions by default                                  
                   
grant codeBase "file:${{java.ext.dirs}}/*" {                                           
        permission java.security.AllPermission;                                        
};                 
grant codeBase "file:/usr/lib/jvm/java-1.8-openjdk/jre/lib/ext/*"{                     
         permission java.security.AllPermission;                                       
};                 
                   
// default permissions granted to all domains                                          
                   
grant {            
        // Allows any thread to stop itself using the java.lang.Thread.stop()          
        // method that takes no argument.                                              
        // Note that this permission is granted by default only to remain              
        // backwards compatible.                                                       
        // It is strongly recommended that you either remove this permission           
        // from this policy file or further restrict it to code sources                
        // that you specify, because Thread.stop() is potentially unsafe.              
        // See the API specification of java.lang.Thread.stop() for more               
        // information.                                                                
        permission java.lang.RuntimePermission "stopThread";                           
                   
        // allows anyone to listen on dynamic ports                                    
        permission java.net.SocketPermission "localhost:0", "listen";                  
    
        // "standard" properies that can be read by anyone                
      
        permission java.util.PropertyPermission "java.version", "read";   
        permission java.util.PropertyPermission "java.vendor", "read";    
        permission java.util.PropertyPermission "java.vendor.url", "read";
        permission java.util.PropertyPermission "java.class.version", "read";          
        permission java.util.PropertyPermission "os.name", "read";        
        permission java.util.PropertyPermission "os.version", "read";     
        permission java.util.PropertyPermission "os.arch", "read";        
        permission java.util.PropertyPermission "file.separator", "read"; 
        permission java.util.PropertyPermission "path.separator", "read"; 
        permission java.util.PropertyPermission "line.separator", "read";
        permission java.util.PropertyPermission "java.specification.version", "read";  
        permission java.util.PropertyPermission "java.specification.vendor", "read";   
        permission java.util.PropertyPermission "java.specification.name", "read";
        permission java.util.PropertyPermission "java.vm.specification.version", "read";
        permission java.util.PropertyPermission "java.vm.specification.vendor", "read";
        permission java.util.PropertyPermission "java.vm.specification.name", "read";  
        permission java.util.PropertyPermission "java.vm.version", "read";
        permission java.util.PropertyPermission "java.vm.vendor", "read";      
        permission javax.management.MBeanPermission "org.apache.logging.log4j.core.jmx.LoggerContextAdmin#-[org.apache.logging.log4j2:type=d716361]", "registerMBean";                               
        permission javax.management.MBeanPermission "-#-[-]", "queryNames";    
        permission javax.management.MBeanServerPermission "createMBeanServer";    
        permission javax.management.MBeanTrustPermission "register";     
        permission java.io.FilePermission "/proc/sys/net/core/somaxconn", "read";     
        permission java.lang.RuntimePermission "accessClassInPackage.*";  
        permission java.lang.RuntimePermission "accessDeclaredMembers";     
        permission java.lang.RuntimePermission "accessUserInformation";   
        permission java.lang.RuntimePermission "getClassLoader";      
        permission java.lang.RuntimePermission "loadLibrary.*";       
        permission java.lang.RuntimePermission "setContextClassLoader";     
        permission java.lang.RuntimePermission "shutdownHooks";        
        permission java.lang.reflect.ReflectPermission "suppressAccessChecks";      
        permission java.net.NetPermission "getNetworkInformation";              
        permission java.net.SocketPermission "*", "connect,accept,resolve";             
        permission java.security.SecurityPermission "getProperty.ssl.KeyManagerFactory.algorithm";
        permission java.security.SecurityPermission "insertProvider.BC";                          
        permission java.security.SecurityPermission "putProviderProperty.BC";                     
        permission java.security.SecurityPermission "setProperty.ocsp.enable";                    
        permission java.util.PropertyPermission "com.sun.security.enableCRLDP", "write";          
        permission java.util.PropertyPermission "es.set.netty.runtime.available.processors", "write";
        permission java.util.PropertyPermission "java.security.debug", "write";                      
        permission java.util.PropertyPermission "java.security.krb5.conf", "write";                  
        permission java.util.PropertyPermission "javax.security.auth.useSubjectCredsOnly", "write";  
        permission java.util.PropertyPermission "jdk.tls.rejectClientInitiatedRenegotiation", "write";
        permission java.util.PropertyPermission "sun.nio.ch.bugLevel", "write";                       
        permission java.util.PropertyPermission "sun.security.krb5.debug", "write";                   
        permission java.util.PropertyPermission "sun.security.spnego.debug", "write";                 
        permission javax.security.auth.AuthPermission "doAs";                                         
        permission javax.security.auth.AuthPermission "modifyPrivateCredentials";                     
        permission javax.security.auth.kerberos.ServicePermission "*",  "accept";                     
        permission java.util.PropertyPermission "java.vm.name", "read";                               
};  